/* Base style */

* {
    box-sizing: border-box;

}

body {
    font-family: 'Open Sans', sans-serif;
}

hr{
    width: 70px;
    color:darkgrey;
    border-bottom: 0;
}

section{
    padding: 120px 0;
}

.section-header{
    margin-bottom: 75px;
}

.section-header h2{
    font-size: 1.3em;
    text-align: center;
    text-transform: uppercase;
    color: rgb(12, 10, 68);
    font-weight: 400;
}

.btn{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 30px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    transition: all .5s;
    display: inline-block;
    margin:auto;
    background-color: rgb(12, 10, 68);
    color: rgb(255, 255, 255);
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(18, 15, 101);
    color: rgb(255, 255, 255);
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

/* Header styles */

.main-header {
    height: 70vh;
    background-image: url(../img/background-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
}

.main-header .main-header-content{
    text-align: center;
}

.main-header .main-header-content h1{
    font-size: 4.2em;
    text-transform: uppercase;
    margin: 0;
    color:rgb(255, 255, 255);
}
.main-header .main-header-content p{
    font-size: 1.3em;
    margin: 40px 0;
    color: white;
}

/* Main menu styles */

.main-menu{
    background-color: rgb(12, 10, 68);
}

.main-menu ul{
    margin: 0;
    padding: 15px 0px;
    text-align: center;
}

.main-menu ul .menu-item{
    display: inline-block;
    padding: 0 20px;
}

.main-menu ul .menu-item a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 30px;
    transform: all .5s;
}

.main-menu ul .menu-item a:hover{
    cursor: pointer;
    background-color: white;
    color: rgb(12, 10, 68);
}

/*About styles*/

.about{
    text-align: center;
}

.about .about-img{
    border-radius: 50%;
}

.about p{
    max-width: 700px;
    margin: 40px auto 30px auto; /*prawy gorny dolny lewy*/ 
    color: #555;
    line-height: 1.4em;
}


/* Section portfolio */

.portfolio{
    background-color: rgb(233, 236, 250);
}

.portfolio-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.portfolio-wrapper .portfolio-item{
    flex-basis: 33%;
    height: 200px;   
    position: relative; 
    padding: 2px;
}

.portfolio-wrapper .portfolio-item img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.portfolio-wrapper .portfolio-item h3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgb(213, 213, 213);
    margin: 0;
    text-align: center;
    line-height: 200px;
    color: white;
    font-size: 2.3em;
    font-weight: 300;
    transform: all .3s;
    opacity: 0;
}

.portfolio-wrapper .portfolio-item h3:hover{
    opacity: 0.75;
}


/* Contact section styles*/


.contact form{
    max-width: 700px;
    margin: 40px auto 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact input[type="text"],
.contact input[type="email"]{
    flex-basis: 47%;
    margin-bottom: 30px;
    padding:5px;
}

.contact textarea{
    flex-basis: 100%;
    margin-bottom: 15px;
    height:250px;
    padding: 5px;
}


/* Footer styles */

.footer{
    width:100%;
    height:50px;
    background-color: rgb(12, 10, 68);
}

.footer p{
    color: white;
    padding: 15px;
    text-align: center;
    font-weight: 300;
    font-size: 1.1em;
}